<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Como entrar em contato</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <header>
        <h2 class="logo">Blog do Zoen</h2>
        <nav class="navigation">
            <a href="index">Menu Principal</a>
            <a href="sobre">Sobre Mim</a>
            <a href="cadastro"><button class="btnLogin-popup">Cadastro</button></a>
            <a href="login"><button class="btnLogin-popup">Login</button></a>
        </nav>
    </header>

    <main class="navigation">
        <h2>Caso queira conversar com a minha pessoa ou pedir algum favor, por favor utilizar o email: enzosantos123987@gmail.com</h2>
    </main>
</body>
</html>