<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=s, initial-scale=1.0">
    <title>Seja Bem-vindo</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <header>
        <h2 class="logo">Blog do Zoen</h2>
        <nav class="navigation">
            <a href="contato2">Contato</a>
            <a href="sobre2">Sobre mim</a>
            <a href="/logout"><button class="btnLogin-popup">Sair do site</button></a>
            <a href="postagens"><button class="btnLogin-popup">Postagem</button></a>
        </nav>
    </header>
    <main class="container">
        <section class="products-container">
            <div class="card">
                <h3>Olá a todos e sejam bem-vindo ao meu site nele irei falar sobre qualquer coisa que der vontade ela
                    podendo ser a review de algum jogo, ou alguma coisa que eu pensei depende dá minha vontade
                </h3>
            </div>
        </section>
    </main>
    <footer class="container">
        <button class="card" style="position: absolute; margin-left: -1000px; margin-top: 260px; ">
            <a href="/texto">Ler mais postagens</a>
        </button>
    </footer>
    
    

</body>

</html>