<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sair da nossa página</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    
    <main class="container">
        <!-- logout.ejs -->
        <div class="products-container">
            <h2>Você deseja realmente sair?</h2>
            <a href="/logout">Sim, Sair</a>
        </div>
    </main>

</body>

</html>