<!DOCTYPE html>
<html>

<head>
    <title>POSTAGENS</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
    <main>
        <h1>POSTAGENS</h1>

        <!-- Create Form -->
        <h2>Criar postagens</h2>

        
<!-- Formulário para criar postagem -->
<form action="/texto" method="POST">
    <input type="text" name="name" placeholder="Name" required>
    <button type="submit">Adicionar Post</button>
</form>


        <!--  List -->

        <a href="/logout">Sair</a>
    </main>

</body>

</html>