<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre mim</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <h2 class="logo">Blog do Zoen</h2>
        <nav class="navigation">
            <a href="home">Menu Principal</a>
            <a href="contato2">Contato</a>
            <a href="/logout"><button class="btnLogin-popup">Sair do site</button></a>
            <a href="postagens"><button class="btnLogin-popup">Postagem</button></a>
        </nav>
    </header>

    <main>
        <h2>Olá meu nome é Enzo Santos sou estudante do Sesi/Senai e estou estudando no senai Ti e estou no último ano do ensino médio e para testar as minhas habilidades estou fazendo esse site;</h2>
        <h2>Eu gosto de ouvir música, jogar jogos eletrônicos, ler livros e assistir vídeos, filmes e desenhos.</h2>
        <h2>Meus cantores favoritos são: Yung li, Kamaitachi, O grilo e LemonSoda.</h2>
        <h2>Meus jogos favoritos são: Sonic Unleashed, Pizza Tower, Batman: Arkham City, Dust: An Elysion Tale.</h2>
        <h2>Uma última coisa eu sou um aspirante a fazer música.</h2>
    </main>
</body>
</html>